## Tuple

A tuple is a similar to list

tuples are immutable, can't change the elements.

### Tuple creation

In [3]:
t = (1,2,3)

print(t)

(1, 2, 3)

In [4]:
t = (1, 'da', 'd')
print(t)

(1, 'da', 'd')

In [10]:
# nested tuple

t= (3, ["e","e","d"],6,5,4,("Ad","da",1))
print(t)

(3, ['e', 'e', 'd'], 6, 5, 4, ('Ad', 'da', 1))

In [12]:
# comman at end

top = ("adfds") #string
top1 = ("adfds",)

print(type(top))
print(type(top1))# If you have single element then comma is require

<class 'str'>
<class 'tuple'>

## Accessing Elements in Tuple

In [13]:
tup2 = (1, 2, 3, 4, 5 )
print(tup2)

(1, 2, 3, 4, 5)

In [14]:
# indexing

print(tup2[1])

2

In [17]:
# nested tuple
tup =((1, 2, 3),(4, 5, 6),3,3,5)
print(tup)

tup1=(1, 2, 3) + (4, 5, 6)
print